*.bundle.*

# Build
lib/
*.tsbuildinfo
jupyterlab_ros_server.egg-info/

# Libraries
node_modules/

# Others
.github/
.vscode/
yarn.lock
*.egg-info/
.ipynb_checkpoints
jupyterlab_ros_server/**/__pycache__
build-lib/