*.bundle.*

# Build
lib/
*.tsbuildinfo
jupyterlab_ros_server.egg-info/
jupyterlab_ros_server/api/zethus/*

# Libraries
node_modules/

# Others
.github/
.vscode/
*.egg-info/
.ipynb_checkpoints
jupyterlab_ros_server/**/__pycache__
build-lib/