include LICENSE
include README.md
include pyproject.toml

include jupyterlab_ros_server/jupyterlab_ros_server.json

graft jupyterlab_ros_server/static
graft jupyterlab_ros_server/public
graft jupyterlab_ros_server/labextension