.main {
  display: flex;
  flex-direction: row;
}

.ok {
  width: 14px;
  height: 14px;
  margin: 5px;
  background: green;
  border-radius: 50%;
  display: inline-block;
}

.ko {
  width: 14px;
  height: 14px;
  margin: 5px;
  background: red;
  border-radius: 50%;
  display: inline-block;
}

.ros-logo {
  width: 54px;
  height: 14px;
  margin: 5px;
  margin-right: 0px;
  background: url(img/ros.png) no-repeat center;
  background-size: 94%;
  display: inline-block;
}

.bagPanel {
  width: 98%;
  height: 98%;
  padding: 1%;
}

.bag {
  width: 100%;
  height: 100%;
  overflow-y: scroll
}

.btn-disabled {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}

.loader {
  width: 100%;
  height: 100%;
}

.lds-ring {
  width: 80px;
  height: 80px;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 45%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-running {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 5px;
  position: relative;
}
.lds-running div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}
.lds-running div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-running div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-running div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* console foregrounds and backgrounds */
.ansi-black-fg {
  color: #3e424d;
}
.ansi-red-fg {
  color: #e75c58;
}
.ansi-green-fg {
  color: #00a250;
}
.ansi-yellow-fg {
  color: #ddb62b;
}
.ansi-blue-fg {
  color: #208ffb;
}
.ansi-magenta-fg {
  color: #d160c4;
}
.ansi-cyan-fg {
  color: #60c6c8;
}
.ansi-white-fg {
  color: #c5c1b4;
}

.ansi-black-bg {
  background-color: #3e424d;
}
.ansi-red-bg {
  background-color: #e75c58;
}
.ansi-green-bg {
  background-color: #00a250;
}
.ansi-yellow-bg {
  background-color: #ddb62b;
}
.ansi-blue-bg {
  background-color: #208ffb;
}
.ansi-magenta-bg {
  background-color: #d160c4;
}
.ansi-cyan-bg {
  background-color: #60c6c8;
}
.ansi-white-bg {
  background-color: #c5c1b4;
}

.ansi-black-intense-fg {
  color: #282c36;
}
.ansi-red-intense-fg {
  color: #b22b31;
}
.ansi-green-intense-fg {
  color: #007427;
}
.ansi-yellow-intense-fg {
  color: #b27d12;
}
.ansi-blue-intense-fg {
  color: #0065ca;
}
.ansi-magenta-intense-fg {
  color: #a03196;
}
.ansi-cyan-intense-fg {
  color: #258f8f;
}
.ansi-white-intense-fg {
  color: #a1a6b2;
}

.ansi-black-intense-bg {
  background-color: #282c36;
}
.ansi-red-intense-bg {
  background-color: #b22b31;
}
.ansi-green-intense-bg {
  background-color: #007427;
}
.ansi-yellow-intense-bg {
  background-color: #b27d12;
}
.ansi-blue-intense-bg {
  background-color: #0065ca;
}
.ansi-magenta-intense-bg {
  background-color: #a03196;
}
.ansi-cyan-intense-bg {
  background-color: #258f8f;
}
.ansi-white-intense-bg {
  background-color: #a1a6b2;
}

.ansi-default-inverse-fg {
  color: var(--jp-ui-inverse-font-color0);
}
.ansi-default-inverse-bg {
  background-color: var(--jp-inverse-layout-color0);
}

.ansi-bold {
  font-weight: bold;
}
.ansi-underline {
  text-decoration: underline;
}